<style>

.tela-login{
background-color: rgba(0, 0, 0, 0.45);
position: absolute;
top:50%;
left:50%;
transform: translate(-50%,-50%);
padding: 80px;
border-radius: 15px;
color: white;
}

img {
display: block;
margin-left: auto;
margin-right: auto;
}

/* Geral */
body{
background: linear-gradient(to right, rgb(16, 100, 140), rgb(17, 54, 71));
color: white;
text-align: center;
font-size: 17px;
}


a{
color:white;
font-size: 19px;
}

h1{
color:white;
}

h2{
color:rgb(204, 204, 204);

}

h3{
color:white;
}

p{
color:white;
}

#fontSize17{
font-size: 17px;
}

#fontSize19{
font-size: 19px;
}

#fontSize20{
font-size: 20px;
}

#fontSize22{
font-size: 22px;
}

.button {
height: 44px;
color:black;
border: none;
padding: 8px 12px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 17px;

transition-duration: 0.25s;
cursor: pointer;
border-radius: 5px;
background-color: #f1f1f1; 
}

.button:hover {
    font-weight: 300;
background-color: dodgerblue;
color: white;
}

.button2 {
height: 42px;
color:black;
border: none;
padding: 8px 12px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 18px;

transition-duration: 0.25s;
cursor: pointer;
border-radius: 5px;
background-color: #f1f1f1; 
}

.button2:hover {
    font-weight: 300;
background-color: dodgerblue;
color: white;
}

.button3 {
    height: 40px;
    color:black;
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    
    transition-duration: 0.25s;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f1f1f1; 
    }
    
    .button3:hover {
        font-weight: 300;
    background-color: rgb(255, 30, 30);
    color: white;
    }

.alignLeft{
text-align: left;
padding-left: 50px;

}


.alignCenter{
text-align: center;

}

.alignTop{
padding-top: 50px;
}




/* Tabela pedidos bg */


.table-bg{
background: rgba(0, 0, 0, 0.3);
border-radius: 15px 15px 0 0;
font-size: 18px;
}

/* Sistema.php = colunas nos dados detalhes */
.column {

color:white;
font-size: 20px;
}



/* Left and right column */
.column.side {
width: 50%;
}

/* Left and right column */
.column.side2 {
    width: 33%;
    }

.row{
padding-left: 50px;
}




/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}





/* SEARCH */
form.searchF input[type=text] {
padding: 8px;
font-size: 17px;
border: none;
float: left;
width: 170px;
height: 40px;
background: #f1f1f1;
border-radius: 5px 0px 0px 5px;
}

/* SUBMIT */
form.searchF button {
float: left;
width: 45px;
height: 40px;
padding: 8px;
background: dodgerblue;
color: white;
font-size: 17px;
border: none;
border-left: none; /* Prevent double borders */
cursor: pointer;
border-radius: 0px 5px 5px 0px;
}

form.searchF button:hover {
    font-weight: 300;
background: #0b7dda;
}

/* Clear floats */
form.searchF::after {
content: "";
clear: both;
display: table;
}


/* GERAL SELETORES */
$glass: rgba(255, 255, 255, 0.2);
$glass-icon: rgba(255, 255, 255, 0.3);
$gradient: linear-gradient(35deg, red, purple);
$option: #320a28;

body {
background: $gradient;
}
/* <select> styles */
select {
/* Reset */
appearance: none;
border: 0;
outline: 0;
font: inherit;
/* Personalize */
width: 100%;
height: 40px;
padding: 0 4em 0 1em;
background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
no-repeat right 0.8em center / 1.4em,
linear-gradient(to left, $glass-icon 3em, $glass 3em);
color: black;
border-radius: 0.25em;
box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
cursor: pointer;
/* <option> colors */
option {
color: inherit;
background-color: $option;
}
/* Remove focus outline */
&:focus {
outline: none;
}
/* Remove IE arrow */
&::-ms-expand {
display: none;
}
}

/* centering with CSS Grid */
.column-center {
display: grid;
justify-content: center;
gap: 4px;
align-content: center;
grid-auto-flow: column;
}

.item-center {
display: grid;
grid-auto-flow: column;
gap: 4px;
align-items: center;
justify-items: center;
}





.botaoFiltro{
width: 90px;
height: 40px;
background: dodgerblue;
color: white;
font-size: 17px;
border: none;
border-left: none; /* Prevent double borders */
cursor: pointer;
border-radius:5px;
}

.botaoFiltro:hover {
background: #0b7dda;
}

.botaoFiltro2{
width: 170px;
height: 40px;
background: dodgerblue;
color: white;
font-size: 17px;
border: none;
border-left: none; /* Prevent double borders */
cursor: pointer;
border-radius:5px;
}

.botaoFiltro2:hover {
background: #0b7dda;
}


/* CAIXAS DE INPUT */
.box{
margin-left: auto;
margin-right: auto;
margin-top: 60px;
margin-bottom: 60px;
background-color: rgba(0, 0, 0, 0.6);
border-radius: 15px;
width: 400px;
padding: 12px;
color: white;
text-align: left;
font-size: 18;
}

#padding12{
padding: 12px;}

legend{
text-align: center;
padding: 12px;
border: 1px solid dodgerblue;
color:white;
border-radius: 8px;
background-color: black;
}

.inputBox{
position: relative;
}

.inputUser{
background: none;
border: none;
border-bottom: 1px solid white;
outline: none;
color: white;
font-size: 17px;
width: 100%;
letter-spacing: 1px;
}

.labelInput{
position: absolute;
top: 0px;
left: 0px;
pointer-events: none;
transition: .5s;
}
.inputUser:focus ~ .labelInput,
.inputUser:valid ~ .labelInput{
top: -20px;
font-size: 17px;
color: dodgerblue;
}

#submit{
background-color: dodgerblue;
width: 100%;
border: none;
padding: 13px;
color: white;
font-size: 19px;
cursor: pointer;
border-radius: 10px;

}
#submit:hover{
background-image: linear-gradient(to right,dodgerblue, rgb(19, 74, 156));
transition-duration: 0.25s;
}

#submitRed{
    text-decoration: none;
    background-color: rgb(255, 30, 30);
    width: 100%;
    height: 44px;
    border: none;
    padding: 12px;
    color: white;
    font-size: 17px;
    cursor: pointer;
    border-radius: 10px;
    
    }
    #submitRed:hover{
        
        background-image: linear-gradient(to right,rgb(255, 6, 6), rgb(148, 7, 26));
        transition-duration: 0.60s;
        }
    

.obsBox {
background: none;
border: none;
border: 1px solid white;
outline: none;
color: white;
font-size: 15px;
width:100%;
letter-spacing: 1px;
width: 100%;
height: 120px;
border-radius: 4px;
word-break: break-all;

}

/*BOTOES VOLTAR */
.voltar{
background-color: rgb(221, 215, 215);
width: 70px;
height: 44px;
text-align: center;
font-size: 17px;
border: none;
padding: 12px;
top:20px;
color: black;
cursor: pointer;
border-radius: 10px;
text-decoration: none;
}

.voltar:hover{
    font-weight: 300;
background-color: dodgerblue;
color: white;
transition-duration: 0.25s;
}



.buttTop{
    background-color: rgba(30, 143, 255, 0);
    width: 100px;
    height: 40px;
    text-align: center;
    font-size: 17px;
    border: 2px;
    padding: 6px;
    top:20px;
    color: rgba(255, 255, 255, 0.568);
    cursor: pointer;
    border-radius: 10px;
    text-decoration: none;
    }
    
    .buttTop:hover{
        font-weight: 300;
    background-color: rgba(30, 143, 255, 0);
    color: white;
    transition-duration: 0.25s;
    }


.botoesAcoes{
background-color: dodgerblue;
text-decoration: none;
color: white;
padding: 15px;
width: 70px;
height: 40px;
text-align: center;
font-size: 20px;
border-radius: 10px;
}

.botoesAcoes:hover{
background-color: rgb(23, 119, 214);
color: white;

}

.resultBusca{

text-decoration: none;
color: white;
font-size: 20px;

}

.resultBusca:hover{
font-size: 20px;
padding: 2px;
text-align: center;
text-decoration: none;
color: goldenrod;
transition-duration: 0.25s;
}



</style>